<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura,json,opencover</Format>
          <Include>
            <ModulePath>.*GestionReservasWebII\.dll</ModulePath>
          </Include>
          <IncludeDirectories>
            <Directory>/home/runner/work/Proyecto_Rec_Espejo/Proyecto_Rec_Espejo/GestionReservasWebII/Models</Directory>
            <Directory>/home/runner/work/Proyecto_Rec_Espejo/Proyecto_Rec_Espejo/GestionReservasWebII/Controllers</Directory>
          </IncludeDirectories>
          <ExcludeByFile>
            <File>.*GestionReservasWebII.Tests/.*</File>
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
